$primary: rgba(248,95,43,255);
$secondary: rgba(246, 215, 0, 255);
$blue: rgba(37,185,255,255);

$grad: linear-gradient(to bottom right, $primary, $secondary);

$grey: rgba(76,72,72,255);
$pale_Grey: rgba(170,170,170,255);

$grad1_color1: #F75B2D;
$grad1_color2: #3A34E6;
$grad2_color1: #0092A2;
$grad2_color2: #2BCD2B;
$grad3_color1: #2DF734;
$grad3_color2: #D0EE0C;

